.sellImage {
    background-image: url('https://images.pexels.com/photos/1393382/pexels-photo-1393382.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    width: 100%;
    height: 85vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .sellheading {
    text-align: center;
    font-size: 4em;
    padding-top: 40vh;
    color: white;
    font-family: 'Indie Flower', cursive;
  }

  .ads{    
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2vh 27vh 0vh 27vh;
}