.gallery{
  padding-top:16vh;
  height: 100vh;
}

.tagline{
  padding-top: 8vh;
  letter-spacing: 0.5em;
  font-family: 'Indie Flower', cursive;
  text-align: center;
}

.image{
  height: 100%;
  width: 100%;
}

.ant-carousel .slick-slide .gallery {
  text-align: center;
  height: 700px;
  line-height: 160px;
  overflow: hidden;
  padding: 0vh 10vh 0vh 10vh;
  background: #fff;
}
